{% extends "base.html" %}
{% block body %}
    <div class='container'>
        {% if tasks %}
            <div class=''>
            <h1 class='text-center '>Task List</h1>
           <table class="table border border-info table-bordered text-center">
                <thead>
                    <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">Deu Date</th>
                    <th scope="col">Priority</th>
                    <th scope="col">Complete</th>
                    <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in tasks %}
                    <tr>
                    <td>{{task.title}}</td>
                    <td>{{task.description|truncatewords:30}}</td>
                    <td>{{task.due_date}}</td>
                    <td>{{task.priority}}</td>
                    <td>{{task.complete}}</td>
                    <td>
                        <a href="{% url "details" task.id %}" class="btn btn-primary">Details</a>
                        <a href="{% url "delete" task.id %}" class="btn btn-danger">Delete</a>
                    </td>
                    </tr>
                    {% endfor %}
                </tbody>
                </table> 
        </div> 
        {% else %}
            <h1 class='text-center mt-5 text-danger'>No Task Available</h1>
        {% endif %}
    </div>
{% endblock body %}
